<div id="game">
  <%= if Games.Pig.opponent_assigned?(@game_server.game) do %>
      <%= render GamesWeb.GameView, "pig/board.html", assigns %>
  <% else %>
    <%= render GamesWeb.GameView, "pig/need_opponent.html", assigns %>
  <% end %>
</div>
