.game {
  max-width: 500px;
  padding: var(--space-10);
}

.game__title {
  font-size: var(--font-size-6);
  margin-bottom: var(--space-6);
  color: var(--grey-8);
}

.game__desc {
  margin-bottom: var(--space-3);
  font-style: italic;
  color: var(--grey-6);
}

.game__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-8);
  width: 200px;
  height: 130px;
}

.game__button {
  margin-top: var(--space-8);
  float: right;
}

.game__rules {
  position: relative;
};
