<div>Choose your opponent!</div>

<div>You can play solo vs the computer.</div>
<button phx-click="select-computer-opponent" phx-target="#game">Computer</button>

<div>You can invite any online user.</div>
