/* This file is for your main application css. */
html {
  box-sizing: border-box;
  color: var(--grey-7);
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a.button {
  text-decoration: none;
}

a:hover.button {
  background-color: var(--grey-1); 
  color: var(--grey-9);
}

a {
  //font-style: italic;
  font-weight: bold;
  color: var(--grey-8);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
}

.js-instructions {
  transition: all 1s;
}

.button--subdued {
  opacity: 0.5 
}

.button {
  background-color: var(--grey-9); 
  color: var(--grey-3);
  font-weight: bold;
  padding: var(--space-4);
  border-style: solid;
  border-width: var(--space-2);
  border-color: var(--grey-6);
  min-width: var(--space-11);
  transition: all 0.2s linear;
}

.button:hover:enabled {
  background-color: var(--grey-1); 
  color: var(--grey-9);
  cursor: pointer;
  //border-style: inset;
  //border-width: var(--space-2);
}

.button:disabled {
  background-color: var(--grey-4);
}

i { margin-left: var(--space-5); }

p { margin: 0; }
