:root {
  --grey-1: hsl(205, 6%, 98%);
  --grey-2: hsl(205, 3%, 96%);
  --grey-3: hsl(205, 2%, 90%);
  --grey-4: hsl(205, 3%, 83%);
  --grey-5: hsl(205, 2%, 73%);
  --grey-6: hsl(205, 2%, 63%);
  --grey-7: hsl(205, 6%, 38%);
  --grey-8: hsl(205, 6%, 28%);
  --grey-9: hsl(205, 6%, 18%);

  --space-1: 1px;
  --space-2: 2px;
  --space-3: 4px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 24px;
  --space-8: 32px;
  --space-9: 48px;
  --space-10: 64px;
  --space-11: 96px;
  --space-12: 128px;
  --space-13: 192px;
  --space-14: 256px;
  --space-15: 512px;
  --space-16: 720px;
  --space-17: 1024px;

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;
}
